h1 {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

:target {
    background-color: yellow;
}


body {
    font-family: arial,helvetica,sans-serif;
    font-size: 13px;
    background-color: #EEF2FF; 
}

#submitForm {
    background-color: #DCE0F7;
    padding-left: 20px;
    width: 200px;
    margin: 0 auto;
}

.greentext {
    color: #789922;
}

#delete {
    top: 10px;
    float: right;
}

#error {
    display: table-cell;
    text-align: center;
    margin: 0 auto;
}

#commentBox {
    height: 100px;
}

.threadreply {
    margin-left: 5%;
}

.commentText {
    word-wrap: break-word;
    width: inherit;
}

#subject {
    padding-right: 10px;
    color: #0F0C5D;
    font-weight: bold;
    float: left;
}

.date {
    padding-left: 5px;
}

#link {
    float: right;
}

#id {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.name {
    font-weight: bold;
    color: #117743;
}

#thread {
    min-width: 30%;
    display: inline-table;
    padding: 10px;
}

.threadComment {
    word-wrap: break-word;
    clear: left;
    float: left;

    background-color: #D6DAF0;
    border-right: 2px solid #A5B6CF;
    border-bottom: 2px solid #A5B6CF;
    margin-top: 5px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

#mainPost {
    max-width: 600px;
}

.comment {
    float: left;
    clear: left;
    max-width: 500px;
    background-color: #D6DAF0;
    border-right: 2px solid #A5B6CF;
    border-bottom: 2px solid #A5B6CF;
    margin-top: 5px;
    padding: 10px;
}
